body {
    background-color: $white;
}

.navbar-default {
    background-color: $white;
    border: 2px solid rgba(0,0,0,0.1);
      .navbar-brand {
        color: $black;
        font-family: 'Amaranth', sans-serif;
        font-weight: bold;
        font-size: 2em;
    }
}

textarea {
  min-height: 13em;
  max-height: 15em;
  min-width: 70%;
  max-width: 100%;
  border: 1px solid #4fbcea;
}

.welcome {
  margin-top: 190px;
  font-family: 'Amaranth', sans-serif;
}
